<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="padding" id="masters">
    <ion-grid>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <ion-list>
            <ion-item>
                <ion-label color="primary">User:</ion-label>

                <ion-input placeholder="Tu AR"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary">Pass:</ion-label>

                <ion-input placeholder="Contraseña"></ion-input>
            </ion-item>

            <button ion-button="ion-button" round="round" outline="outline" routerLink="../categorias">Ingresar</button>
        </ion-list>
    </ion-grid>
</ion-content>