<ion-header>
    <ion-toolbar>
        <ion-title>categorias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content ion-padding>
    <ion-grid>
        <ion-row>
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 1</ion-col>
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 2</ion-col>
        </ion-row>

        <ion-row class="align-items-center">
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 3</ion-col>
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 4</ion-col>
        </ion-row>

        <ion-row class="align-items-center">
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 5</ion-col>
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 6</ion-col>
        </ion-row>

        <ion-row class="align-items-center">
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 7</ion-col>
            <ion-col style="padding:15%;" routerLink="../listado">TIPO 8</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>